.badge {
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 750;
  --bs-badge-color: #555;
  --bs-badge-border-radius: 0.375rem
}
